*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.contenedor{
    background-color: #f5f6fa;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "nav                nav             nav             nav"
    "bienvenido         bienvenido      bienvenido      bienvenido"
    "servicios          servicios       servicios       contacto"
    "portafolio         portafolio      portafolio      lenguajes"
    "footer             footer          footer          footer"
    ;
}
/* Navegacion */
nav{
    grid-area: nav;
    display: flex;
    flex-flow: row wrap;
    width: auto;
    padding: 10px;
    background-color: #1e272e;
    align-items: center;
    
}
nav img{
    width: 5%;
    border-radius: 100%;
}
nav p{
    color: white;
    width: 10%;
    font-size: 35px;
    padding-left: 10px;
    
}
.nav a{
    font-size: 40px;
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    color: white;
}
nav ul li a{
    color: white;
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
}
nav ul li a:hover,
nav ul li a p:hover{
    color: lightskyblue;
    text-shadow: 2px 2px 2px white;
}

/* Welcome Style */
.bienvenido{
    grid-area: bienvenido;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: row wrap;   
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.bienvenido .presentacion{
    width: 49%;
    background-color: rgba(210, 218, 226,.2);
    border-radius: 50px;
    padding: 30px;
}
.bienvenido .icon-codigo{   
    font-size: 250px;
    widows: 49%;
    
}
.bienvenido .icon-codigo:hover{
    color: rgb(235, 59, 90);
}
/* Services */
.servicios{
    grid-area: servicios;
    display: flex;
    flex-flow: column wrap;
    width: auto;
    text-align: center;
}
.servicios .descripcion{
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    
    margin: 25px;
    
}
.servicios .descripcion .titulo{
    width: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 20px;
}
.servicios .descripcion img{
    width: 80%;
    border-radius: 25px;
}
.servicios .ejemplos{
    width: 97%;
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
}
.servicios .ejemplos .landing,
.servicios .ejemplos .corporativa{
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
}
.servicios .ejemplos .landing {
    background-image: url(img/landing.png);
}
.servicios .ejemplos .corporativa{
    background-image: url(img/corporativa.png);
}
.servicios .ejemplos h1{
    background-color: rgba(255,0,0,0.6);
    border-radius: 20px;
    padding: 35px;
}

/* Porfolio Style */
.portafolio{
    grid-area: portafolio;
    text-align: center;
    padding-top: 25px;
}
.portafolio h1,
.portafolio p{
    font-size: 35px;
}
.portafolio .paginas{
    display: flex;
    flex-flow: row wrap;
}
.portafolio .paginas img{
    width: 45%;
    border-radius: 15px;
    margin: 5px auto;
}
.portafolio .paginas img:hover{
    transform: scale(1.05); 
    transition: all 0.6s;
}
/* Contact Styles */
.contacto{
    grid-area: contacto;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}
.contacto img{
    width: 100%;
    border-radius: 100%;
}
.contacto ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 15px;
    font-size: 50px;
}
.contacto ul li a{
    color: black;
}
.contacto ul li a:hover{
    color: red;
    transition: all 0.6s; 
}
.contacto .div ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    font-size: 25px;
}
/* Lenguajes */
.lenguajes{
    grid-area: lenguajes;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid black;
    font-size: 20px;
}
.lenguajes img{
    width: 100%;
}
/* Footer */
.footer{
    grid-area: footer;
    background-color: #1e272e;
    padding: 25px;
    text-align-last: center;
    color: white;
    font-size: 20px;
}
.footer a{
    color:rgb(235, 59, 90);
}

/* Media queris */

@media (max-width: 1670px){
    .contenedor{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nav nav"
        "bienvenido bienvenido"
        "servicios contacto"
        "portafolio lenguajes"
        "footer footer"
        ;
    }
    nav ul li a p{
        font-size: 25px;
    }
    nav img{
        width: 5%;
    }
    nav p{
        width: 20%;
    }
    nav ul{
        justify-content: space-around;
        width: 70%;
    }
   .servicios .descripcion{
       flex-flow: column wrap;
       margin: 25px;
   }
   .servicios .descripcion .titulo{
       margin: 5px;
       width: 100%;
   }
    .servicios .ejemplos{
       flex-flow: column wrap;
       align-items: center;
   }
   .servicios .ejemplos .landing,
   .servicios .ejemplos .corporativa{
       width: 100%;
       margin: 25px;
   }
   .contacto{
    font-size: 50px;
   }
   .contacto img{
       width: 75%;
   }
   .contacto ul{
       font-size: 70px;
   }
   .lenguajes img{
       width: 70%;
   }
   .portafolio .paginas{
       grid-template-columns: repeat(2,1fr);
       grid-template-areas:
       "pagina  pagina"
       ;
   }
}
@media (max-width: 1500px){
    .portafolio .paginas{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 1160px){
    nav .icon-inicio,
    nav .icon-servicio,
    nav .icon-portafolio,
    nav .icon-correo{
        font-size: 20px;
    }
    nav ul li a p{
        font-size: 20px;
    }
}
@media (max-width: 963px){
    nav ul{
        width: 70%;
    }
    nav ul li a p{
        display: none;
    }
    nav .icon-inicio,
    nav .icon-servicio,
    nav .icon-portafolio,
    nav .icon-correo{
        font-size: 45px;
    }
}
@media (max-width: 920px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-areas:
        "nav"
        "bienvenido"
        "servicios"
        "portafolio"
        "contacto"
        "lenguajes"
        "footer"
        ;
    }
    .bienvenido{
     height: auto;
     display: flex;
     flex-flow: column wrap;
     width: 100%;
     padding-top: 25px;
    }
    .presentacion{
        width: 80% !important;
    }
    .icon-codigo{
        font-size: 25px;
        width: 100%;
    }
    }
 @media (max-width: 860px){
    nav .icon-inicio,
    nav .icon-servicio,
    nav .icon-portafolio,
    nav .icon-correo{
        font-size: 50px;
    }
    nav ul{
        width: 60%;
        justify-content: space-around;
    }
    nav p{
        width: 30%;
    }
}
@media (max-width: 677px){
    nav img{
        display: none;
    }
    nav{
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 15px;
    }
    nav ul{
        width: 100%;   
    }
    nav p{
        width: 100%;
    }
}